
<div style="width: 60%; margin: 20px auto;">
    <div style="padding: 20px 0;">
      <%= simple_form_for [@flat, @viewing] do |f| %>
        <%= f.input :date, :order => [:day, :month, :year] %>
        <%= f.input :message %>
          <div style="text-align: center;">
            <%= f.submit "Submit", class: 'btn btn-flat' %>
          </div>
      <% end %>
    </div>
</div>
