
<div style="width: 60%; margin: 20px auto;">
<h1>Book a Viewing </h1>
<%= simple_form_for [@flat, @viewing] do |f| %>
  <%= f.input :date %>
  <%= f.input :message %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
