<div style="text-align: center;">
  <h1>Discover our flats</h1>
</div>

  <div class="flat-index-content">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat) do  %>
        <div class="flat-card-index">
          <%= image_tag 'flat-placeholder', class: 'image-flat-cover',  alt: "image placeholder for flat" %>

          <div class="flat-card-content">
            <p><%= flat.title %></p>
            <p><%= flat.rent %> €/pm</p>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
