.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #F652A0;
  text-align: center;
  text-decoration: none;
}

.btn-flat:hover {
  background: #353B57;
  color: white;
}

.secondary-btn {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    text-decoration: none;
  }

  .secondary-btn:hover {
    opacity: 1;
}
